<div class="relative-div">
	<mat-form-field appearance="outline" class="field-cursor-text col-12">
		<mat-label>Password</mat-label>
		<input matInput placeholder="Password" [(ngModel)]="data.password" type="password" name="password" required>
	</mat-form-field>
	<mat-form-field appearance="outline" class="field-cursor-text col-12">
		<mat-label>Ripeti password</mat-label>
		<input matInput placeholder="Ripeti password" [(ngModel)]="ripetiPassword" type="password" name="ripetiPassword" required>
	</mat-form-field>
	<div class="btn-container">
		<button mat-raised-button color="primary" (click)="save()">
			<mat-icon [inline]="true" class="button-icon">save</mat-icon>
			<mat-label>Salva</mat-label>
		</button>
	</div>
</div>