<div class="main-container">
	<div class="relative-div" *ngIf="loggedIn">
		<div class="sidebar">
			<div class="relative-div">
				<div class="sidebar-logo"></div>
				<div class="sidebar-content">
					<div class="relative-div">
						<div (click)="redirect('articoli')" class="menu-item {{ getStatus('articoli') }}" *ngIf="hasRole('ARTICOLO')">
							<mat-icon class="menu-icon" [inline]="true">view_list</mat-icon>
							<a class="menu-label">Anagrafica articoli</a>
						</div>
						<div (click)="redirect('magazzino')" class="menu-item {{ getStatus('magazzino') }}" *ngIf="hasRole('ARTICOLO')">
							<mat-icon class="menu-icon" [inline]="true">inventory_2</mat-icon>
							<a class="menu-label">Magazzino</a>
						</div>
						<div (click)="redirect('movimenti-di-magazzino')" class="menu-item {{ getStatus('movimenti-di-magazzino') }}" *ngIf="hasRole('ARTICOLO')">
							<mat-icon class="menu-icon" [inline]="true">archive</mat-icon>
							<a class="menu-label">Movimenti di magazzino</a>
						</div>
						<div (click)="redirect('produzione')" class="menu-item {{ getStatus('produzione') }}" *ngIf="hasRole('PRODUZIONE')">
							<mat-icon class="menu-icon" [inline]="true">precision_manufacturing</mat-icon>
							<a class="menu-label">Produzione</a>
						</div>
						<div (click)="redirect('impianti-di-produzione')" class="menu-item {{ getStatus('impianti-di-produzione') }}" *ngIf="hasRole('IMPIANTO_DI_PRODUZIONE')">
							<mat-icon class="menu-icon" [inline]="true">corporate_fare</mat-icon>
							<a class="menu-label">Impianti di produzione</a>
						</div>
						<div (click)="redirect('utenti')" class="menu-item {{ getStatus('utenti') }}" *ngIf="hasRole('UTENTE')">
							<mat-icon class="menu-icon" [inline]="true">person</mat-icon>
							<a class="menu-label">Utenti</a>
						</div>
						<div class="change-password-btn-container">
							<button mat-button class="change-password-btn" (click)="changePassword()">
								<mat-icon class="change-password-icon" [inline]="true">password</mat-icon>
								<p class="change-password-text">Modifica password</p>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="page">
			<div class="relative-div">
				<p class="page-title">
					<mat-icon [inline]="true" *ngIf="currentPageTitle.goBackFn != null" (click)="goBackFn()" class="goBackArrow">arrow_back</mat-icon>
					{{ currentPageTitle.value }}
				</p>
				<button mat-button class="logout-btn" (click)="logout()">
					<mat-icon class="logout-icon" [inline]="true">logout</mat-icon>
					<p class="logout-text">LOGOUT</p>
				</button>
				<div class="header"></div>
				<div class="page-content-bg">
					<div class="page-content">
						<ng-container *ngTemplateOutlet="template"></ng-container>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="relative-div" *ngIf="!loggedIn">
		<ng-container *ngTemplateOutlet="template"></ng-container>
	</div>
</div>
<ng-template #template>
	<router-outlet>
	</router-outlet>
</ng-template>